/* Reset */

h1 {
    margin:0;
    padding:0;
    }


/* Index */

#logo {
	position: absolute;
	left:60px;
	top:30px;
	z-index:3;
}

#logo img {
	width: 180px;
}

#about {
    position: absolute;
    right:30px;
    top: 30px;
    background-color:#FFD462;
    width:200px;
    opacity:0.7;
    z-index: 2;
    padding: 20px 20px 10px 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1.1em;
    border-radius: 10px;
}

strong {
	font-weight: 800;
}

a {
	color: #000;
}

a:hover {
	color: #000;
}

a:active {
	color: #000;
}

a:visited {
	color: #000;
}

#about p {
	padding-bottom: 10px;
}

#footer {
	position: absolute;
    left:30px;
    bottom: 0px;
    background-color:#DC545E;
    opacity:0.7;
    z-index: 2;
    padding: 5px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
	border-radius: 5px;
}


/* Cards */

.card {
    width:95%;
    height:50%;
    min-height:620px;
    min-width:480px;
    margin: 5 auto 0 auto;
    font-family: 'Dosis', sans-serif;
    border: 8px solid #000;
    border-radius: 10px;
    }

.card_header {
    width:100%;
    height:120px;
    font-weight: 800;
    }

.card_header #logo_pq img {
	width: 150px;
	margin: 10px 10px 10px 10px;
	padding:3px;
	float: left;
}

.card_header #titulo {
	font-size: 2.5em;
	padding: 20px 10px 0 10px;
	text-align: right;
    }
    
.vermelho {
    background-color:DC545E;
    }
.verde {
    background-color:B4D96E;
    }

.azul {
    background-color:ADB1E0;
    }

.amarelo {
    background-color:FFD462;
    }
    
.card_body {
    height:180px;
    padding-left:30px;
    padding-right:30px;
    padding-top:160px;
    padding-bottom:0px;
    font-size:1.6em;
    text-align:center;
}

.card_footer {
    padding:30px;
    height: 40px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.1em;
}
