<html>
    <head>
        <title>Mapa</title>
        <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css" />
        <![endif]-->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Dosis:400,500,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>

    <body>
        <div id="map" style="height: 100%"></div>
		<div id="logo"><img src="/static/imagens/baixoimobiliario_colorido.png" alt="Baixo Imobiliário"/></div> 
        <div id="about">
			<p>Cada metro quadrado do Baixo Centro tem seu valor imobiliário - e ele está cada vez mais alto...</p> 
			<p>Pro mercado, o dono da rua é quem compra. Pra gente, os donos da rua são todos que a usam.</p>
			<p>O <strong>BaixoImobiliário</strong> é um jogo de ocupação das ruas!</p>
			<p><strong>Como jogar:</strong> ande pelas ruas do Baixo Centro, e quando passar por uma carta do jogo, faça uma "ocupação", usando seu celular conforme as instruções dessa carta.</p></div>
		<div id="footer">
			<p><a href="http://baixocentro.org" title="BaixoCentro">BaixoCentro</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://thacker.com.br" title="Transparência Hacker">Transparência Hacker</a></p>
		</div>
        <script src="http://code.leafletjs.com/leaflet-0.3.1/leaflet.js"></script>
        <script>
        //icon
        var MyIcon = L.Icon.extend({
            iconUrl: '/static/icons/vermelho-token.png',
            shadowUrl: null,
            iconSize: new L.Point(32, 32),
            shadowSize: null,
            iconAnchor: new L.Point(24, 24),
            popupAnchor: new L.Point(-8, -24)
        });

        //map setup
        var map = new L.Map('map');
        
        var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/b9bf0bbf350b45d090eee70025395e20/997/256/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 18
            });
        
        var baixocentro = new L.LatLng(-23.531806,-46.651812); // geographical point (longitude and latitude)
        map.setView(baixocentro, 16).addLayer(cloudmade);
        //board setup  
        $.getJSON('/static/data/board.json', function(data) {
            var board = new L.GeoJSON();
            board.addGeoJSON(data);
            map.addLayer(board);
        });
        
        
        //lambe markers
        {% for lambe in lambes %}
        {% if lambe.occupy_count == 0 %}
        var markerContent = "<strong>A {{lambe.endereco}} ainda não foi ocupada</strong><br />(O valor médio do m² nesta rua é R${{lambe.preco}})";
        {% elif lambe.occupy_count == 1 %}
        var markerContent = "<strong>A {{lambe.endereco}} já foi ocupada {{lambe.occupy_count}} vez</strong><br />(O valor médio do m² nesta rua é R${{lambe.preco}})";
        {% elif lambe.occupy_count > 1 %}
        var markerContent = "<strong>A {{lambe.endereco}} já foi ocupada {{lambe.occupy_count}} vezes</strong><br />(O valor médio do m² nesta rua é {{lambe.preco}})";
        {% endif %}
        var marker_{{lambe.endereco_slug}} = new L.Marker(new L.LatLng({{lambe.latlng}}), {icon : new MyIcon('/static/icons/{{lambe.color}}-token.png')});
        map.addLayer(marker_{{lambe.endereco_slug}})
        marker_{{lambe.endereco_slug}}.bindPopup(markerContent);
        {% endfor %}
        </script>
    </body>
</html>
