<html>
    <head>
        <title>Baixo Imobiliário</title>
        <link rel="stylesheet" href="/static/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Dosis:400,500,800' type='text/css'>
    </head>
    <body>
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
        
        <div class="card" id="card-{{lambes.endereco_slug}}">
            <div class="card_header {{lambes.color}}">
				<div id="logo_pq"><img src="/static/imagens/baixoimobiliario_colorido.png" alt="Baixo Imobiliário"/></div>
                <div id="titulo">{{lambes.endereco}}</div>
            </div>
            <div class="card_body">
                <span>Contando com você, esta rua já foi ocupada <strong>{{lambes.occupy_count}}</strong> {% if lambes.occupy_count == 1 %} vez{% else %} vezes{% endif %}</span>
            </div>
            <div class="card_footer">
                <p>O <strong>BaixoImobiliário</strong> é um jogo de ocupação urbana! Em vez de "comprar" ruas, você ocupa os espaços públicos - e mostra que o baixo centro de São Paulo não tem valor apenas para o mercado, mas também para as pessoas.
                <p>Acesse <a href="http://baixoimobiliario.org"><strong>baixoimobiliario.org</strong></a> para ver o tabuleiro, descobrir onde estão as outras cartas e continuar jogando.</p>
            </div>
        </div>
    </body>
</html>
